@import 'reset';
@import 'variables/global';
@import 'variables/common';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/orange';

/* Для браузеров на основе WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}



body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    height: $base * 2;
    width: $base * 3;               /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border: $base * 0.5 solid var(--primary-color);  /* padding вокруг плашки */
    border-radius: $base * 5;       /* закругления плашки */
}
