@import 'reset';
@import 'variables/global';
@import 'variables/common';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/orange';

/* Для браузеров на основе WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}



body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    padding: $base * 5 $base * 5 $base * 5 $base * 9;
    width: 100%;
}
