@import 'app/styles/variables/common';

.Modal {
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
}

.content {
    background: var(--bg-color);
    border-radius: $base * 3;
    color: var(--primary-color);
    font: var(--font-m);
    max-width: 50%;
    padding: $base * 5;
    transform: scale(0.5);
    transition: transform 0.3s;
}

.content.light {
    background: var(--bg-color);
    color: var(--primary-color);
}

.content.dark {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.overlay {
    align-items: center;
    background-color: var(--overlay-color);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.opened {
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.3);
    }
}
