.SideBar {
    background: var(--inverted-bg-color);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: width 0.3s;
    width: var(--sidebar-width);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    align-items: center;
    bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: absolute;
    width: 100%;
}
