@import 'app/styles/variables/common';

.LIST {
    .views {
        margin-left: auto;
    }

    .header {
        align-items: center;
        display: flex;
    }

    .username {
        margin-left: $base * 2;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: $base * 2;
    }

    .img {
        margin: $base * 4 0;
        max-height: $base * 62;
        object-fit: cover;
        width: 100%;
    }

    .footer {
        align-items: center;
        display: flex;
        margin-top: $base * 4;
    }

    .textBlock {
        max-height: $base * 50;
        overflow-y: hidden;
    }
}

.TILED {
    cursor: pointer;
    transition: 0.2s;
    width: $base * 58;

    .date {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        height: $base * 50;
        position: relative;
        width: $base * 50;
    }

    .img {
        height: $base * 50;
        object-fit: cover;
        width: $base * 50;
    }

    .infoWrapper {
        align-items: center;
        display: flex;
        margin-top: $base * 2;
    }

    .types p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: $base * 29;
    }

    .views {
        margin-left: auto;
        margin-right: $base * 2;
    }

    .title {
        margin-top: $base * 2;
    }

    .title p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: $base * 50;
    }
}
