@import 'app/styles/variables/common';

.EditableProfileCardHeader {
    display: flex;
    gap: $base * 5;
    margin-bottom: $base * 5;
}

.editButton {
    margin-left: auto;
}

.buttonWrapper {
    margin-left: auto;
}
