@import 'app/styles/variables/common';

.AddCommentForm {
    align-items: center;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: $base * 5;
    width: 100%;
}

.input {
    flex-grow: 1;
}
