.app-dark-theme {
    --bg-color: #0a3da2;
    --inverted-bg-color: #c5cde0;
    --primary-color: #4a940f;
    --secondary-color: #3fe81e;
    --inverted-primary-color: #eb6fb7;
    --inverted-secondary-color: #d80a83;
}
