@import 'app/styles/variables/common';

.ArticlesPageFilters {
    display: flex;
    flex-direction: column;
    gap: $base * 4;
}

.sortWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
