@import 'app/styles/variables/common';

.NavBar {
    align-items: center;
    background-color: var(--inverted-bg-color);
    display: flex;
    height: var(--navbar-height);
    padding: 20px;
    width: 100%;
}

.links {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: auto;
}

.dropdown {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    margin-left: 15px;
    width: var(--sidebar-width);
}
