@import 'app/styles/variables/common';

.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: $base * 5;
    width: 100%;
}

.input {
    margin-top: $base * 2.5;
}

.loader {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
