.Dropdown {
    position: relative;
}

.btn {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
}

.menu {
    background: var(--card-bg);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10000;
}

.item {
    background: none;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    padding: 10px 25px;
    width: 100%;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsBottomLeft {
    right: 0;
    top: 100%;
}

.optionsBottomRight {
    left: 0;
    top: 100%;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}
