@import 'app/styles/variables/common';

.CommentCard {
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: $base * 3;
    padding: $base * 2;
}

.header {
    align-items: center;
    display: flex;
    gap: $base * 5;
}
