@import 'app/styles/variables/common';

.Card {
    background: var(--card-bg);
    border-radius: $base * 3;
    padding: $base * 4;
}

.normal {
    background: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}
