@import 'app/styles/variables/common';

.Page {
    flex-grow: 1;
    height: calc(100% - var(--navbar-height));
    overflow-y: auto;
    padding: $base * 5 $base * 5 $base * 5 $base * 9;
    width: 100%;
}

.trigger {
    height: $base * 2;
}
